/* 含义->数字 */
.tipBtnContainer {
  position: relative;
}

#tipBtn {
  position: absolute;
  right: 325px;
  top: -100px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: -1px -1px 5px #fff, 1px 2px 2px #888;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;

}

#tipBtn:hover {
  background-color: #8a8a8a;
  box-shadow: 0 3px 0 #6d6d6d;
  color: #fff;
  transform: translateY(2px);
}


#userInputInfo {
  display: block;
  margin: 8px auto 0;
  text-align: center;
  width: 400px;
  height: 30px;
  outline: none;
  border: 1px solid lightgray;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#userInputInfo:hover {
  border: 1px solid #8c8c8c;
}

#promptNum p {
  font-size: 150px;
  margin: 0;
  padding: 0;
}

#tipImage img {
  width: 300px;
  height: 300px;
}

#tipImage p {
  font-size: 26px;
}

.chartContainer {
  position: relative;
}

.chart {
  position: absolute;
  right: 49px;
  top: 565px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.barTrue {
  width: 40px;
  height: 4px;
  background-color: rgb(78, 233, 78);
}

.barFalse {
  width: 40px;
  height: 4px;
  background-color: red;
}

.greenBox {
  position: absolute;
  right: 45px;
  bottom: 0;
}

.redBox {
  position: absolute;
  right: 0px;
  bottom: 0;
}

#numTFOutputBox p {
  margin: 8px 0 0;
}
